@model List<DAL.ViewModels.UserProfileViewModel>;

@{
    ViewData["Title"] = "ViewUser";
    ViewData["HideLayout"]="false";
}

<div class="content p-3" id="content">
    <div class="row ">
      <div class="col-md-6 p-0  ">
          <h1  style="color: rgb(30, 151, 231);font-weight: 600;">Users</h1>
      </div>
      
      <div class="col-md-6 text-end p-0 ">
        <div class="d-flex align-items-center justify-content-md-end justify-content-start">
         <div class=" ms-2 " style="position:relative; ">
<form id="searchForm" class="d-flex position-relative me-2">
                        <input class="form-control fs-6 form-control-lg " type="text" aria-label="Search"
                            placeholder="Search" id="search" name="search" value="@ViewBag.Search">
                        <button type="submit" class="position-absolute  btn btn-link" style="margin:auto;top:3px;transition:transformY(140%);right:10px;" onclick="fetchSearchedUser()"><i
                                class="fa-solid fa-search"></i></button>
</form>
        </div>
     
        <a class="btn btn-primary " asp-action="AddUser" asp-controller="User" style="background-color: rgba(9, 9, 172, 0.692);color:white">+ Add User</a>

      </div>
      </div>
    </div>
<div class="row mt-2" style="background-color: white; border-radius: 8px;">
  
    <div class="table-responsive mt-4 " >
      <table class="table" id="myTable">
        <thead>
          <tr>
            <th >Name <a asp-route-sortOrder="@ViewBag.sort" asp-action="Index"><i class="fa-solid fa-sort ms-1"  ></i></a></th>
            <th >Email</th>
            <th >Phone</th>
            <th >Role</th>
            <th >Status</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
            <tr>
            <td>
              <div class="d-flex   align-items-center w-auto p-0 ">
                @if(user.ProfileImg==null || user.ProfileImg.Length==0)
                {
                  <img src="~/images/Default_pfp.svg.png" class="rounded-pill img-fluid me-2"
                  style="width: 30px; height: 30px" > 
                }
                else{
                <img src="@(Url.Content(user.ProfileImg ))" class="rounded-pill img-fluid me-2"
                  style="width: 30px; height: 30px" > 
                }
                
                <div style="word-wrap: break-word;">@user.FirstName @user.LastName</div>
              </div>
            </td>
            <td>@user.Email</td>
            <td>@user.Phone</td>
            <td>@user.RoleName</td>
            <td><span class="badge rounded-pill bg-success">@(user.isActive ? "Active" : "Inactive")</span></td>
            <td>
              <div class="d-flex align-items-center "> 
               <a asp-action="EditUsers" asp-controller="User" asp-route-email="@user.Email" asp-route-pageNumber="@ViewBag.PageNumber" asp-route-pageSize="@ViewBag.PageSize"><i class="fa-solid fa-pen me-3 ms-3" style="cursor: pointer;"></i></a>
                  <i class="fa-solid fa-trash" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#deleteModal" onclick="setDeleteId(@user.UserId)"></i></div>
            </td> 
          </tr>
            }
        </tbody>
      </table>
    </div>
    <div class="row text-end">
      <div class="d-flex flex-col justify-content-end mb-2">
      <form method="get" id="pageSizeForm" >
    <label for="pageSize">Records per page:</label>
    <select id="pageSize" name="pageSize" onchange="submitForm()">
      @foreach(var size in ViewBag.AvailableSize)
      {
        <option value="@size" selected="@(size==ViewBag.PageSize ? "selected" :null)"#deleteModal>@size</option>      }
    </select>
  </form>
   <div class="ms-2">
   @if(ViewBag.PageNumber>1)
   {
    <a href="@Url.Action("Index",new {search=ViewBag.Search,pageNumber=ViewBag.PageNumber-1, pageSize=ViewBag.PageSize})">Previous</a>
   }
   Page @ViewBag.PageNumber of @ViewBag.TotalPages

   @if(ViewBag.PageNumber<ViewBag.TotalPages)
   {
    <a href="@Url.Action("Index",new {search=ViewBag.Search,pageNumber=ViewBag.PageNumber+1, pageSize=ViewBag.PageSize})">Next</a>
   }
   </div>
  </div>
 
   </div>
  </div>

  </div>
  <div class="modal" id="deleteModal">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">

        <div class="modal-body text-center">
          <img src="images/toppng.com-warning-icon-2400x2400.png" alt="Image" class="img-fluid me-2 "
          style="font: 30px; height: 80px;" class="">
          <h3>Are you sure you want to delete this user?</h3>
          <form id="deleteForm" method="post">
        <div class="modal-footer d-flex  align-items-center justify-content-center">
          <button type="submit" class="btn btn-danger align-items center" data-bs-dismiss="modal" >Yes</button>
          <button type="button" class="btn btn-primary align-items center" data-bs-dismiss="modal">No</button>
        </div>
        </form>
      </div>
    </div>
  </div>
@section Scripts {
  <script>
    function setDeleteId(id)
    {
      document.getElementById("deleteForm").action='@Url.Action("DeleteUser","User")' + '?id=' + id +'&pageNumber=' + @ViewBag.PageNumber + '&pageSize=' + @ViewBag.PageSize;
    }
    function submitForm()
    {
      let search=document.getElementById("search").value;
      document.getElementById("pageSizeForm").action='@Url.Action("Index",new {search=ViewBag.Search,pageNumber=ViewBag.PageNumber, pageSize=ViewBag.PageSize})';
      $("#pageSizeForm").submit();
    }
    function fetchSearchedUser(){
      let search=document.getElementById("search").value;
      document.getElementById("searchForm").action='@Url.Action("Index","User")' + '?search=' + search ;

    }
    
  </script>
}