@model DAL.ViewModels.OrderAppKOTViewModel;
<div class="row mt-3 bg-white shadow ms-1 p-3">
    <div class="row d-flex align-items-center justify-content-between flex-wrap">
        <div class="col-md-6 ">
            <h2 style="color: rgba(0, 102, 167, 1);">@Model.CategoryName</h2>
        </div>
        <div class="col-md-6 p-0 text-end">
            <div class="d-flex justify-content-end flex-wrap p-0" style="word-wrap: break-word;">
                <button class="btn  me-2" type="button" style="background-color: rgba(0, 102, 167, 1);color:white"
                    onclick="getOrders(@Model.CategoryId,'@Model.CategoryName','InProgress')">In Progress</button>
                <button class="btn  me-2" type="button" style="background-color: rgba(0, 102, 167, 1);color:white"
                    onclick="getOrders(@Model.CategoryId,'@Model.CategoryName','Ready')">Ready</button>
                <div class="">
                    <button class="btn me-2" type="button" style="background-color: rgba(0, 102, 167, 1);color:white">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button class="btn  me-2" type="button" style="background-color: rgba(0, 102, 167, 1);color:white">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <div class="row ms-1  mt-2 d-flex flex-row flex-wrap gap-3">
        @foreach (var order in Model.kOTOrdersListViewModels)
        {
            @if (order.items.Count == 0)
            {
                break;
            }
            <div class="" style="width:300px;border-style: dotted;" onclick="openOrderModal(@order.OrderId)">
                <div class="row " style="background-color: rgb(231, 229, 229)">
                    <div class="col-2 " style="color:rgba(0, 102, 167, 1); ">
                        <strong>#@order.OrderId</strong>
                    </div>
                    <div class="col-10 text-end">
                        @if (order?.Duration.Days != null)
                        {
                            @(order?.Duration.Days + "days ")
                            ;
                        }
                        @if (order?.Duration.Hours != null)
                        {
                            @(order?.Duration.Hours + "hr ")
                            ;
                        }
                        @if (order?.Duration.Minutes != null)
                        {
                            @(order?.Duration.Minutes + "mins ")
                            ;
                        }
                        @if (order?.Duration.Seconds != null)
                        {
                            @(order?.Duration.Seconds + "secs ")
                            ;
                        }
                        @if (order.Duration == null)
                        {
                            @("0 mins ")
                            ;
                        }

                    </div>
                    <div class="col">
                        @order.SectionName
                        @foreach (var tables in order.tables)
                        {
                            <span class=" ms-2">@tables.TableName</span>
                        }
                    </div>
                </div>
                <div class="row p-0   overflow-y-auto overflow-x-hidden" style="height:150px;">
                    @foreach (var items in order.items)
                    {

                        <div class="row  ">
                            <div class="col-8">
                                @items.ItemName
                            </div>
                            <div class="col-4 text-end">
                                @items.Quantity
                            </div>
                        </div>
                        @foreach (var modifiers in items.modifiers)
                        {
                            <div class="row ">
                                <div class="col-12  " style="word-wrap: break-word;">
                                    <ul>
                                        <li>
                                            @modifiers.ModifierName
                                        </li>
                                        @if (modifiers.Instruction != null)
                                        {
                                            <span>Instruction: @modifiers.Instruction</span>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    }
                </div>
                <div class="row" style="background-color: rgb(231, 229, 229);height:48px;word-wrap: break-word;">
                    @if (order.Instruction != null)
                    {

                        <span>Order Instruction: @order.Instruction</span>
                    }
                </div>
            </div>
        }
    </div>
</div>
<div class="modal" id="orderModal">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="orderId">Order Id:</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
           <div id="orderItemsContainer"></div>
        </div>
    </div>
</div>
<script>
    function openOrderModal(orderId) {
        var kotorders = JSON.parse('@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.kOTOrdersListViewModels, new System.Text.Json.JsonSerializerOptions { ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.Preserve }))');
        var order = kotorders.$values.find(o => o.OrderId === orderId);

        var orderItems = order.items.$values;
        var orderModal = new bootstrap.Modal(document.getElementById('orderModal'));
        var orderIdElement = document.getElementById('orderId');
        orderIdElement.innerHTML = "Order Id: #" + orderId;
        console.log(orderItems);
        $("#orderModal").modal('show');
        $.ajax({
            url: '@Url.Action("GetOrderItems", "KOT")',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(orderItems), 
            success: function (response) {
                console.log(response);
                $("#orderItemsContainer").html(response);
            },
           
        });


    }
</script>