@model DAL.ViewModels.OrderAppMenuViewModel;
<div class="row mt-3">
    <div class="d-flex align-items-start justify-content-start  ">
        <img src="~/images/icons/dinner-table.svg" class="img-fluid p-1"
            style="height: 50px; width: 50px;background-color: #0be0fc;">
        <div class="d-flex flex-column align-items-start justify-content-center ms-2 ">
            <div class="p-0">@Model.SectionName</div>
            <div>Table:
                @foreach (var tables in Model.tables)
                {
                    @(tables.TableName + " ")
                }
            </div>
        </div>
        <div class="ms-auto d-flex align-items-center justify-content-end">
            <button class="me-2" style="border: 1px solid rgba(0, 102, 167, 1);background-color: white;" data-bs-toggle="modal" data-bs-target="#qrCodeModal"><i
                    class="fa-solid fa-qrcode" style="color: rgba(0, 102, 167, 1);" ></i></button>
            <button class="me-2" style="border: 1px solid rgba(0, 102, 167, 1);background-color: white;"><i
                    class="fa-solid fa-user-plus" style="color: rgba(0, 102, 167, 1);"></i></button>
            <button class="" style="border: 1px solid rgba(0, 102, 167, 1);background-color: white;"><i
                    class="fa-regular fa-message" style="color: rgba(0, 102, 167, 1);"></i></button>
        </div>
    </div>


</div>
<div class="row mt-3">
    <div class="col-6 fw-bold">
        Item
    </div>
    <div class="col-2 fw-bold">
        Quantity
    </div>
    <div class="col-2 fw-bold">
        Amount
    </div>
</div>
    <div class="itemrenderer"></div>

    <hr>
    <div class="row">
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-start fs-5">SubTotal</div>
        
                <div>₹<span class="text-end subTotal" data-value="@Model.SubTotal" >@(Model.SubTotal)</span></div>

                
        </div>
        @foreach (var tax in Model.taxes)
        {
            <div class="d-flex align-items-center justify-content-between">
                <div class="text-start fs-8">@tax.TaxName</div>
                <div class="text-end tax" data-tax="@tax.Amount">₹@(tax.Amount*Model.SubTotal/100)</div>

            </div>
        }
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-start fs-8"><input type="checkbox" class="me-2">SGST</div>
            <div class="text-end"></div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-start fs-5">Total</div>
             
                <div >₹<span class="text-end total" >@(Model.TotalAmt)</span></div>

               
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-start fs-8 text-muted">Payment Method</div>
            <div class="d-flex align-items-center justify-content-center text-muted">
                <input type="radio" class="me-1 " name="payment"> Cash
                <input type="radio" class="me-1 ms-2 " name="payment"> Card
                <input type="radio" class="me-1 ms-2 " name="payment"> UPI
            </div>
        </div>
    </div>


<div class="row mt-3">
    <div class="d-flex align-items-center justify-content-end">
        <button class="btn me-2 w-25" style="background-color: rgba(0, 102, 167, 1);color:white;" onclick="saveOrderItems()">Save</button>
        <button class="btn me-2 w-25"
            style="border: 1px solid rgba(0, 102, 167, 1);color:rgba(0, 102, 167, 1);">Complete</button>
        <button class="btn w-25" style="border: 1px solid rgba(0, 102, 167, 1);color:rgba(0, 102, 167, 1);">Generate
            Invoice</button>
    </div>
</div>
<div class="row mt-2 mb-3">
    <div class="d-flex align-items-center justify-content-end ">
        <button class="btn w-25"
            style="border: 1px solid rgba(0, 102, 167, 1);color:rgba(0, 102, 167, 1);">Cancel</button>
    </div>

</div>
<div class="modal" id="qrCodeModal">
    <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable ">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
           <img src="~/images/qr-code.png">
           </div>
        </div>
    </div>
</div>
<script>
    var orders='@Model.ordersListViewModel';
   var orderItems;
    $(document).ready(function () {
        
         if (orders!= '') {
         orderItems = JSON.parse('@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ordersListViewModel, new System.Text.Json.JsonSerializerOptions { ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.Preserve }))');
        itemRender();
        }else{
            $(".itemrenderer").html("");
        }
    });
    function itemRender() {
        existingModifierList=[];
      
        orderItems.itemLists.$values.forEach(i=>{
            i.modifierLists.$values.forEach(m=>{
            existingModifierList.push({id:m.ModifierId,ModifierName: m.ModifierName, Rate: m.Rate});
        });
            itemLists.push({ItemId:i.ItemId, ItemName: i.ItemName, Rate: i.Rate, modifierLists: existingModifierList});
        })
        $.ajax({
            url: "/OrderMenu/RenderOrderItem",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(orderItems),
            success: function (response) {
                $(".itemrenderer").html(response);
            }
        });
    }
   function saveOrderItems(){
    console.log(itemLists);
   }
</script>