@model DAL.ViewModels.OrderAppMenuViewModel;
<div class="row mt-3">
    <div class="d-flex align-items-start justify-content-start  ">
        <img src="~/images/icons/dinner-table.svg" class="img-fluid p-1"
            style="height: 50px; width: 50px;background-color: #0be0fc;">
        <div class="d-flex flex-column align-items-start justify-content-center ms-2 ">
            <div class="p-0">@Model.SectionName</div>
            <div>Table:
                @foreach (var tables in Model.tables)
                {
                    @(tables.TableName + " ")
                }
            </div>
        </div>
        <div class="ms-auto d-flex align-items-center justify-content-end">
            <button class="me-2" style="border: 1px solid rgba(0, 102, 167, 1);background-color: white;"><i
                    class="fa-solid fa-qrcode" style="color: rgba(0, 102, 167, 1);"></i></button>
            <button class="me-2" style="border: 1px solid rgba(0, 102, 167, 1);background-color: white;"><i
                    class="fa-solid fa-user-plus" style="color: rgba(0, 102, 167, 1);"></i></button>
            <button class="" style="border: 1px solid rgba(0, 102, 167, 1);background-color: white;"><i
                    class="fa-regular fa-message" style="color: rgba(0, 102, 167, 1);"></i></button>
        </div>
    </div>


</div>
<div class="row mt-3">
    <div class="col-6 fw-bold">
        Item
    </div>
    <div class="col-2 fw-bold">
        Quantity
    </div>
    <div class="col-2 fw-bold">
        Amount
    </div>
</div>
    <div class="itemrenderer"></div>

    <hr>
    <div class="row">
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-start fs-5">SubTotal</div>
           @if(Model.ordersListViewModel!=null){
                <div>₹<span class="text-end subTotal" data-value="@Model.ordersListViewModel.SubTotal" >@(Model.ordersListViewModel.SubTotal)</span></div>

                }else{

                <div class="text-end">0</div>
                }
        </div>
        @foreach (var tax in Model.taxes)
        {

            <div class="d-flex align-items-center justify-content-between">
                <div class="text-start fs-8">@tax.TaxName</div>
                @if(Model.ordersListViewModel!=null){
                <div class="text-end tax" data-tax="@tax.Amount">₹@(tax.Amount*Model.ordersListViewModel.SubTotal/100)</div>

                }else{

                <div class="text-end">0</div>
                }
            </div>
        }
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-start fs-8"><input type="checkbox" class="me-2">SGST</div>
            <div class="text-end"></div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-start fs-5">Total</div>
              @if(Model.ordersListViewModel!=null){
                <div >₹<span class="text-end total" >@(Model.ordersListViewModel.TotalAmount)</span></div>

                }else{

                <div class="text-end">0</div>
                }
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div class="text-start fs-8 text-muted">Payment Method</div>
            <div class="d-flex align-items-center justify-content-center text-muted">
                <input type="radio" class="me-1 " name="payment"> Cash
                <input type="radio" class="me-1 ms-2 " name="payment"> Card
                <input type="radio" class="me-1 ms-2 " name="payment"> UPI
            </div>
        </div>
    </div>


<div class="row mt-3">
    <div class="d-flex align-items-center justify-content-end">
        <button class="btn me-2 w-25" style="background-color: rgba(0, 102, 167, 1);color:white;">Save</button>
        <button class="btn me-2 w-25"
            style="border: 1px solid rgba(0, 102, 167, 1);color:rgba(0, 102, 167, 1);">Complete</button>
        <button class="btn w-25" style="border: 1px solid rgba(0, 102, 167, 1);color:rgba(0, 102, 167, 1);">Generate
            Invoice</button>
    </div>
</div>
<div class="row mt-2 mb-3">
    <div class="d-flex align-items-center justify-content-end ">
        <button class="btn w-25"
            style="border: 1px solid rgba(0, 102, 167, 1);color:rgba(0, 102, 167, 1);">Cancel</button>
    </div>

</div>
<script>
    var orders='@Model.ordersListViewModel';
   var orderItems;
    $(document).ready(function () {
         if (orders!= '') {
         orderItems = JSON.parse('@Html.Raw(System.Text.Json.JsonSerializer.Serialize(Model.ordersListViewModel, new System.Text.Json.JsonSerializerOptions { ReferenceHandler = System.Text.Json.Serialization.ReferenceHandler.Preserve }))');
      
        itemRender();
        }else{
            $(".itemrenderer").html("");
        }
    });
  
    function itemRender() {
        orderItems.itemLists.$values.forEach(i=>{
            itemLists.push(`${i.ItemId}`);
        })
        $.ajax({
            url: "/OrderMenu/RenderOrderItem",
            type: "POST",
            contentType: 'application/json',
            data: JSON.stringify(orderItems),
            success: function (response) {
                $(".itemrenderer").html(response);
            }
        });
    }
   
</script>