@model DAL.ViewModels.MenuItemsViewModel;

<div class="row mt-3 ms-1 ">
        <div class=" col-12 p-0 mb-2" id="categoryaccordian">
            <div class="accordion accordion-flush mt-md-2 mt-0 shadow rounded-lg " id="accordionFlushExample">
                <div class="accordion-item" style="width: 100%;">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed w-100" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                            style="color:rgb(30, 151, 231);font-weight: 700; font-size: 25px;">
                            Category
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body ">
                            <div class="text-end">
                                <button class="me-3" id="add" data-bs-toggle="modal" data-bs-target="#addCategory"
                                    style=" color: rgb(30, 151, 231); border: 2px solid rgb(30, 151, 231);background-color: rgb(250, 250, 250); "><i
                                        class="fa-regular fa-plus me-2" data-controller="Menu" data-action="AddItem" ></i>Add Category</button>
                            </div>
                            <ul class="categoryLinks overflow-auto mt-2 p-0" style="max-height: 500px;">
                                @foreach (var category in Model.categories)
                                {
                                    <a onclick="fetchItems(@category.CategoryId)" class="@($"clist{@category.CategoryId}")">
                                        <li style="list-style: none;">
                                            <div class="d-flex align-items-center justify-content-between actionshover">
                                                <div class="d-flex align-items-center justify-content-center mt-3">
                                                    <i class="fa-solid fa-table me-2"></i>
                                                    <div>@category.Name</div>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-end me-2 actions mt-3">
                                                    <i class="fa-solid fa-pen me-3 ms-3" style="cursor: pointer; "
                                                        data-bs-toggle="modal" data-bs-target="#editCategory"
                                                        onclick="fetchCategoryDetails(@category.CategoryId)"></i>
                                                    <i class="fa-solid fa-trash" style="cursor: pointer;"
                                                        data-bs-toggle="modal" data-bs-target="#deleteCategory"
                                                        onclick="setDeleteId(@category.CategoryId)"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="col-md-2 border  p-2 shadow rounded-lg" style="background-color: rgb(250, 250, 250);" id="category">

        <div class="d-flex overflow-hidden  align-items-center justify-content-between w-auto p-2 ">
            <div style="color: rgb(30, 151, 231); font-weight: 700; font-size: 25px; ">Category
            </div>
            <button class="text-end ms-3 " id="add" data-bs-toggle="modal" data-bs-target="#addCategory"
                style=" color: rgb(30, 151, 231); border: 2px solid rgb(30, 151, 231);background-color: rgb(250, 250, 250); "><i
                    class="fa-regular fa-plus"></i></button>
        </div>
        <ul class="categoryLinks p-2 overflow-auto mt-2" style="max-height: 400px;">
            @foreach (var category in Model.categories)
            {
                <a onclick="fetchItems(@category.CategoryId)" class="@($"clist{@category.CategoryId}")">
                    <li style="list-style: none;">
                        <div class="d-flex align-items-center justify-content-between actionshover">
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <i class="fa-solid fa-table me-2"></i>
                                <div>@category.Name</div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end me-2 actions mt-3">
                                <i class="fa-solid fa-pen me-3 ms-3" style="cursor: pointer; " data-bs-toggle="modal"
                                    data-bs-target="#editCategory" onclick="fetchCategoryDetails(@category.CategoryId)"></i>
                                <i class="fa-solid fa-trash" style="cursor: pointer;" data-bs-toggle="modal"
                                    data-bs-target="#deleteCategory" onclick="setDeleteId(@category.CategoryId)"></i>
                            </div>
                        </div>
                    </li>
                </a>
            }

        </ul>
    </div>
    <div class="col border bg-white shadow rounded-lg">
        <div class="row">
            <div class="col  p-2  ">
                <div class="d-flex align-items-center justify-content-between p-2">
                    <div style="color: rgb(30, 151, 231); font-weight: 700; font-size: 25px; ">Items
                    </div>
                    <button class="addItembtn btn btn-primary " data-bs-toggle="modal" data-bs-target="#addItem">+ New
                        Item</button>
                </div>
            </div>
        </div>
        <div id="renderitems"></div>
    </div>
</div>

</div>
<div class="modal" id="addCategory">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:rgba(9, 9, 172, 0.692) ;">Add Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="categoryName" name="Name" placeholder="Name"
                        asp-for="@Model.category.Name">
                    <label for="name">Name</label>
                    <span asp-validation-for="Name" class="text-danger "></span>

                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="categoryDescription" name="Description" placeholder="Description"
                        asp-for="@Model.category.Description"></textarea>
                    <label for="description">Description</label>

                </div>
            </div>
            <div class="modal-footer d-flex  align-items-center justify-content-end">
                <button type="submit" class="btn  me-2" style="background-color: rgba(9, 9, 172, 0.692);color:white"
                    onclick="addCategory()" data-bs-dismiss="modal">Add</button>
                <button type="button" class="btn"
                    style="border-color:rgba(9, 9, 172, 0.692);  color:rgba(9, 9, 172, 0.692); background-color: white;"
                    data-bs-dismiss="modal" aria-label="Close" formnovalidate>Cancel</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="editCategory">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="categoryEditId" name="CategoryId" placeholder="CategoryId"
                    asp-for="@Model.category.CategoryId" hidden>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="categoryEditName" name="Name" placeholder="Name"
                        asp-for="@Model.category.Name">
                    <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea class="form-control" id="categoryEditDes" name="Description" placeholder="Description"
                        asp-for="@Model.category.Description"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="modal-footer d-flex  align-items-center justify-content-end">
                <button type="submit" class="btn  me-2" style="background-color: rgba(9, 9, 172, 0.692);color:white"
                    onclick="editCategory()" data-bs-dismiss="modal">Edit</button>
                <button type="button" class="btn"
                    style="border-color:rgba(9, 9, 172, 0.692);  color:rgba(9, 9, 172, 0.692); background-color: white;"
                    data-bs-dismiss="modal" aria-label="Close" formnovalidate>Cancel</button>
            </div>

        </div>
    </div>
</div>
<div class="modal" id="deleteCategory">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">

            <div class="modal-body text-center">
                <img src="images/toppng.com-warning-icon-2400x2400.png" alt="Image" class="img-fluid me-2 "
                    style="font: 30px; height: 80px;" class="">
                <h3>Are you sure you want to delete this category?</h3>
                <input type="text" id="deleteCategoryId" hidden>
                <div class="modal-footer d-flex  align-items-center justify-content-center">
                    <button type="submit" class="btn btn-danger align-items center" data-bs-dismiss="modal"
                        onclick="deleteCategory()">Yes</button>
                    <button type="button" class="btn btn-primary align-items center" data-bs-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</div>
<partial name="_Notification" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
<script>
    categoryId = 0;
    $(document).ready(function () {
        categoryId =@(Model.ShowList != null ? Model.ShowList : 0);
        if (categoryId == 0) {
            categoryId =@(Model.categories.Count > 0 ? Model.categories[0].CategoryId : 0);
        }
        $(`.clist${categoryId}`).addClass("active");
        fetchItems( categoryId);
    });
    function fetchItems( id) {
        let links = document.querySelectorAll(".categoryLinks a");
        links.forEach(link => {
            link.classList.remove("active");
        });
        $(`.clist${id}`).addClass("active");
        $.ajax({
            url: "/Menu/CategoryItems",
            type: "GET",
            data: { categoryId: id },
            success: function (response) {
                $("#renderitems").html(response);
            }
        });
    }
    function fetchCategoryDetails(id) {
        $.ajax({
            url: "/Menu/CategoryDetails",
            type: "GET",
            data: { id: id },
            success: function (response) {
                $('#categoryEditName').val(response.name);
                $('#categoryEditDes').val(response.description);
            }
        });
        document.getElementById("categoryEditId").value = id;
    }

    function setDeleteId(id) {
        document.getElementById("deleteCategoryId").value = id;
    }
    function deleteCategory() {
        let categoryId = document.getElementById("deleteCategoryId").value;
        $.ajax({
            url: "/Menu/DeleteCategory",
            type: "POST",
            contentType: "application/json",
            data: categoryId,
            success: function (response) {
                $("#items").html(response);
            }
        });
    }
    function addCategory() {
        let Name = document.getElementById("categoryName").value;
        let Description = document.getElementById("categoryDescription").value;
        $.ajax({
            url: "/Menu/AddCategory",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ Name: Name, Description: Description }),
            success: function (response) {
                $("#items").html(response);
            }
        });
    }
    function editCategory() {
        let Name = document.getElementById("categoryEditName").value;
        let Description = document.getElementById("categoryEditDes").value;
        let categoryId = document.getElementById("categoryEditId").value;
        $.ajax({
            url: "/Menu/EditCategory",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ Name: Name, Description: Description, CategoryId: categoryId }),
            success: function (response) {
                fetchItems(categoryId);
            }
        });
    }
</script>