@model DAL.ViewModels.MenuModifiersViewModel;

<div class="row p-2">
    <div class="d-flex align-items-center justify-content-end p-2">
        <div class=" ms-2 " style="position:relative; ">
            <form id="modifiersearchForm" class="d-flex position-relative me-2">
                <input class="form-control fs-6 form-control-lg " type="text" aria-label="Search" placeholder="Search"
                    id="modifiersearch" name="search" value="@ViewBag.ModifierSearch">
                <button type="button" class="position-absolute  btn btn-link"
                    style="margin:auto;top:3px;transition:transformY(140%);right:10px;"
                    onclick="fetchAllModifiers(@Model.PageNumber,@Model.PageSize,@Model.TotalPages)"><i
                        class="fa-solid fa-search"></i></button>
            </form>
        </div>
        <button class=" me-2 " data-bs-toggle="modal" data-bs-target="#removeModifiers"
            style="background-color: white; border-radius: 5px;"><i class="fa fa-trash"></i></button>
        <button class="addItem btn btn-primary " data-bs-toggle="modal" data-bs-target="#addModifier">+ New
            Modifier</button>
    </div>
</div>
<div class="table-responsive  mt-3">
    <table class="table " id="modifierTable">
        <thead>
            <tr>
                <th>
                    <div class="form-check">
                        <input class="form-check-input main" type="checkbox" value="">
                        <label class="form-check-label " for="flexCheckDefault">
                            <div class="ms-2">Name</div>
                        </label>
                    </div>
                </th>
                <th>Unit</th>
                <th>Rate</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.modifier)
            {
                <input type="=" text hidden id="mgId" value="@m.ModifierGroupId">
                <tr class="check" data-id="@m.ModifierId">
                    <td>
                        <div class="form-check">
                            <input class="form-check-input indCheck" type="checkbox" value="">
                            <label class="form-check-label ms-2" for="flexCheckDefault">
                                <div style="word-wrap: break-word;">@m.ModifierName
                                </div>
                            </label>
                        </div>
                    </td>
                    <td>
                        @m.Unit
                    </td>
                    <td>
                        @m.Rate
                    </td>
                    <td>
                        @m.Quantity
                    </td>

                    <td>
                        <div class="d-flex align-items-center ">
                            <i class="fa-solid fa-pen me-3 ms-3" data-bs-toggle="modal" style="cursor:pointer"
                                data-bs-target="#updateModifier" onclick="fetchModifierDetails(@m.ModifierId)"></i>
                            <i class="fa-solid fa-trash" data-bs-toggle="modal" style="cursor:pointer"
                                data-bs-target="#modifierDelete" onclick="setDel(@m.ModifierId)"></i>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        <div class="d-flex flex-col justify-content-end mb-2">
            <form method="get" id="pageSizeForm">
                <label for="pageSize">Records per page:</label>
                <select id="pageSize" name="pageSize"
                    onchange="fetchAllModifiers(@Model.PageNumber,@Model.PageSize,@Model.TotalPages)">
                    <option value="2">2</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </form>
            <div class="ms-2">
                @if (@Model.PageNumber > 1)
                {
                    <a onclick="fetchAllModifiers(@Model.PageNumber-1,@Model.PageSize,@Model.TotalPages)"
                        style="cursor:pointer;color:blue;">Previous</a>
                }
                Page @Model.PageNumber of @Model.TotalPages

                @if (@Model.PageNumber < @Model.TotalPages)
                {
                    <a onclick="fetchAllModifiers(@Model.PageNumber+1,@Model.PageSize,@Model.TotalPages)"
                        style="cursor:pointer;color:blue;">Next</a>
                }
            </div>
        </div>
    </div>
</div>
<div class="modal" id="updateModifier">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:rgba(9, 9, 172, 0.692) ;">Edit Modifier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editModifierForm">
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" id="prevMGId" placeholder="Name" hidden>
                            <div class="row">
                                <input type="text" class="form-control" id="modifierId" name="ModifierId"
                                    placeholder="Name" asp-for="@Model.ModifierId" hidden>
                                <div class="col-12 col-lg-6">
                                    <div class="custom-select mb-3" style="position:relative;">
                                        <div class="select-box" onclick="toggleOption()"
                                            style="height:56px;border:0.5px solid grey;padding:10px;background-color:white;cursor:pointer;text-align:left;position: relative;border-radius:5px;">
                                            Select ModifierGroup</div>
                                        <div id="options"
                                            style="cursor:pointer;z-index:1000;display: none;background-color:white;position:absolute;width:100%; border:0.5px solid grey;border-radius:5px;max-height: 150px;overflow-y: auto;">
                                            @foreach (var modifier in Model.modifierGroups)
                                            {
                                                <div class="m-2"><input type="checkbox" class="mgcheck1 me-2"
                                                        value="@modifier.ModifierGroupId">@modifier.ModifierGroupName</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="modifierName" name="ModifierName"
                                            placeholder="Name" asp-for="@Model.ModifierName">
                                        <label for="name">Name</label>
                                        <span asp-validation-for="ModifierName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-4 col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="rate" name="Rate" placeholder="Rate"
                                            asp-for="@Model.Rate">
                                        <label for="Rate">Rate</label>
                                        <span asp-validation-for="Rate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="quantity" name="Quantity"
                                            placeholder="Quantity" asp-for="@Model.Quantity">
                                        <label for="Quantity">Quantity</label>
                                        <span asp-validation-for="Quantity" class="text-danger "></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="units" name="Unit" asp-for="@Model.Unit">
                                            <option value="pieces">Pieces</option>
                                            <option value="kg">kg</option>
                                            <option value="litre">litre</option>
                                        </select>
                                        <label for="Unit" class="form-label">Unit</label>
                                        <span asp-validation-for="Unit" class="text-danger "></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="description" name="Description"
                                        placeholder="Description" asp-for="@Model.Description"></textarea>
                                    <label for="Description">Description</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer d-flex  align-items-center justify-content-end">
                        <button type="button" class="btn  me-2"
                            style="background-color: rgba(9, 9, 172, 0.692);color:white"
                            onclick="editModifier()">Save</button>
                        <button type="button" class="btn"
                            style="border-color:rgba(9, 9, 172, 0.692);  color:rgba(9, 9, 172, 0.692); background-color: white;"
                            data-bs-dismiss="modal" aria-label="Close" formnovalidate>Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="removeModifiers">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="images/toppng.com-warning-icon-2400x2400.png" alt="Image" class="img-fluid me-2 "
                    style="font: 30px; height: 80px;">
                <h3>Are you sure you want to delete these modifiers?</h3>
                <div class="modal-footer d-flex  align-items-center justify-content-center">
                    <button type="button" class="btn btn-danger align-items center" data-bs-dismiss="modal"
                        onclick="saveModifiers()">Yes</button>
                    <button type="button" class="btn btn-primary align-items center" data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modifierDelete">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body text-center">
                <img src="images/toppng.com-warning-icon-2400x2400.png" alt="Image" class="img-fluid me-2 "
                    style="font: 30px; height: 80px;">
                <h3>Are you sure you want to delete this modifier?</h3>

                <div class="modal-footer d-flex  align-items-center justify-content-center">
                    <input type="text" id="mgroupId" hidden>
                    <button type="button" class="btn btn-danger align-items center" data-bs-dismiss="modal"
                        onclick="deleteModifier()">Yes</button>
                    <button type="button" class="btn btn-primary align-items center" data-bs-dismiss="modal">No</button>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal" id="addModifier">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:rgba(9, 9, 172, 0.692) ;">Add Modifier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="addModifierForm">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-lg-6">
                                    <div class="custom-select mb-3" style="position:relative;">
                                        <div class="select-box" onclick="toggleOptions()"
                                            style="height:56px;border:0.5px solid grey;padding:10px;background-color:white;cursor:pointer;text-align:left;position: relative;border-radius:5px;">
                                            Select ModifierGroup</div>
                                        <div id="opt"
                                            style="cursor:pointer;z-index:1000;display: none;background-color:white;position:absolute;width:100%; border:0.5px solid grey;border-radius:5px;max-height: 150px;overflow-y: auto;">
                                            @foreach (var modifier in Model.modifierGroups)
                                            {
                                                <div class="m-2"><input type="checkbox" class="mgcheck me-2"
                                                        value="@modifier.ModifierGroupId">@modifier.ModifierGroupName</div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="ModifierName" name="ModifierName"
                                            placeholder="Name" asp-for="@Model.ModifierName">
                                        <label for="name">Name</label>
                                        <span asp-validation-for="ModifierName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-lg-4 col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="Rate" name="Rate" placeholder="Rate"
                                            asp-for="@Model.Rate">
                                        <label for="Rate">Rate</label>
                                        <span asp-validation-for="Rate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 col-md-6">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="Quantity" name="Quantity"
                                            placeholder="Quantity" asp-for="@Model.Quantity">
                                        <label for="Quantity">Quantity</label>
                                        <span asp-validation-for="Quantity" class="text-danger "></span>
                                    </div>
                                </div>
                                <div class="col-12 col-lg-4 col-md-6">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" id="unit" name="unit" asp-for="@Model.Unit">
                                            <option value="pieces">Pieces</option>
                                            <option value="kg">kg</option>
                                            <option value="litre">litre</option>
                                        </select>
                                        <label for="unit" class="form-label">Unit</label>
                                        <span asp-validation-for="Unit" class="text-danger "></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control" id="Description" name="Description"
                                        placeholder="Description" asp-for="@Model.Description"></textarea>
                                    <label for="Description">Description</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-flex  align-items-center justify-content-end">
                        <button type="button" class="btn  me-2"
                            style="background-color: rgba(9, 9, 172, 0.692);color:white"
                            onclick="addModifer()">Save</button>
                        <button type="button" class="btn"
                            style="border-color:rgba(9, 9, 172, 0.692);  color:rgba(9, 9, 172, 0.692); background-color: white;"
                            data-bs-dismiss="modal" aria-label="Close" formnovalidate>Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<partial name="_Notification" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
<script>
    function fetchAllModifiers(pageNumber, pageSize, totalPages, modifierId) {
        let mgID = modifierId ? modifierId : @Model.ModifierGroupId;
        let modifiersearch = document.getElementById("modifiersearch").value;
        let selectedPage = $("#pageSize").val();
        $.ajax({
            url: "/Menu/Modifiers",
            type: "GET",
            data: { modifierId: mgID, search: modifiersearch, pageNumber: pageNumber, pageSize: pageSize, selectedPage: selectedPage },
            success: function (response) {
                $("#rendermodifiers").html(response);
                $("#pageSize").val(selectedPage);
            }
        });
    }
    toggleDropdown = 0;
    toggleDropdown1 = 0;
    function toggleOption() {
        toggleDropdown = !toggleDropdown;
        if (toggleDropdown == 1) {
            document.getElementById("options").style.display = "block";
        } else {
            document.getElementById("options").style.display = "none";
        }
    }
    function toggleOptions() {
        toggleDropdown1 = !toggleDropdown1;
        if (toggleDropdown1 == 1) {
            document.getElementById("opt").style.display = "block";
        } else {
            document.getElementById("opt").style.display = "none";
        }
    }
    function setDel(id) {
        document.getElementById("mgroupId").value = id;
    }
    function deleteModifier() {
        let id = document.getElementById("mgroupId").value;
        $.ajax({
            url: '@Url.Action("DeleteModifier", "Menu")',
            type: "POST",
            data: { id: id },
            success: function (response) {
                fetchAllModifiers(@Model.PageNumber,@Model.PageSize,@Model.TotalPages);
            }
        })
    }
    function editModifier() {
        newmodifierGroupList = [];
        $(".mgcheck1:checked").each(function (index, ele) {
            newmodifierGroupList.push(ele.value);
        })
        let pageNumber =@Model.PageNumber;
        let pageSize =@Model.PageSize;
        let selectedPage =@Model.SelectedPage;
        var formdata = new FormData($("#editModifierForm")[0]);
        formdata.append("PageNumber", pageNumber);
        formdata.append("PageSize", pageSize);
        formdata.append("SelectedPage", selectedPage);
        formdata.append("ids", JSON.stringify(newmodifierGroupList));
        if ($("#editModifierForm").valid()) {
            $.ajax({
                url: "/Menu/EditModifier",
                type: "POST",
                contentType: false,
                processData: false,
                data: formdata,
                success: function (response) {
                    fetchModifiers(newmodifierGroupList[0]);
                    $(".modal").modal("hide");
                }
            });
        }
    }
    function addModifer() {
        modifierGroupList = [];
        $(".mgcheck:checked").each(function (index, ele) {
            modifierGroupList.push(ele.value);
        })
        var formdata = new FormData($("#addModifierForm")[0]);
        formdata.append("ids", JSON.stringify(modifierGroupList));
        if ($("#addModifierForm").valid()) {
            $.ajax({
                url: "/Menu/AddModifier",
                type: "POST",
                contentType: false,
                processData: false,
                data: formdata,
                success: function (response) {
                    $(".modal").modal("hide");
                    $("#rendermodifiers").html(response);
                }
            });
        }
    }
    function fetchModifierDetails(id) {
        document.getElementById("modifierId").value = id;
        let modifierName = document.getElementById("modifierGroupId");
        $.ajax({
            url: "/Menu/ModifierDetails",
            type: "GET",
            data: { id: id },
            success: function (response) {
                $('#rate').val(response.rate);
                $('#modifierName').val(response.name);
                $('#unit').val(response.unit);
                $('#quantity').val(response.quantity);
                $('#description').val(response.description);
                $(".mgcheck1").each(function (index, ele) {
                    if(response.ids.includes(parseInt(ele.value))){
                        $(this).prop("checked",true);
                    }
                })
            }
        });
    }
    $(".main").change(function () {
        if ($(".main").prop("checked")) {
            $(".indCheck").prop("checked", true);
        } else {
            $(".indCheck").prop("checked", false);
        }
    });
    $(".indCheck").change(function () {
        if ($(".indCheck:checked").length === $(".indCheck").length) {
            $(".main").prop("checked", true);
        } else {
            $(".main").prop("checked", false);
        }
    })

    function checkedModifiers() {
        let selectedItems = [];
        $("tbody tr").each(function () {
            let row = $(this);
            let isSelected = row.find(".indCheck").prop("checked");
            if (isSelected) {
                selectedItems.push(row.data("id"));
            }
        });

        return selectedItems;
    }

    function saveModifiers() {
        let data = checkedModifiers();
        $.ajax({
            url: '@Url.Action("DeleteModifiers", "Menu")',
            type: "POST",
            contentType: "application/json ",
            data: JSON.stringify(data),
            success: function (response) {
                if (response.redirectUrl) {
                    fetchAllModifiers(@Model.PageNumber,@Model.PageSize,@Model.TotalPages);
                }
            }
        })
    }

</script>