@model DAL.ViewModels.MenuModifiersViewModel;

<div class="row mt-3 ms-1 ">
    <div class="row mt-3 mb-3" id="categoryaccordian">
        <div class=" col p-0">
            <div class="accordion accordion-flush mt-md-2 mt-0 shadow rounded-lg " id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                            style="color:rgb(30, 151, 231);font-weight: 700; font-size: 25px;">
                            Modifier Group
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body ">
                            <div class="text-end">
                                <button class="me-3" id="add" data-bs-toggle="modal" data-bs-target="#addModifierGroup"
                                    style=" color: rgb(30, 151, 231); border: 2px solid rgb(30, 151, 231);background-color: rgb(250, 250, 250); "><i
                                        class="fa-regular fa-plus me-2"></i>Add Modifier Group</button>
                            </div>
                            <ul class=" overflow-auto mt-2 p-0" style="max-height: 500px;">
                                @foreach (var mg in Model.modifierGroups)
                                {
                                    <a style="text-decoration: none; color: black;cursor: pointer;"
                                        onclick="fetchModifiers(@mg.ModifierGroupId)">
                                        <li style="list-style: none;">
                                            <div class="d-flex align-items-center justify-content-between actionshover">
                                                <div class="d-flex align-items-center justify-content-center mt-3">
                                                    <i class="fa-solid fa-table me-2"></i>
                                                    <div>@mg.ModifierGroupName</div>
                                                </div>
                                                <div
                                                    class="d-flex align-items-center justify-content-end me-2 actions mt-3">
                                                    <i class="fa-solid fa-pen me-3 ms-3" style="cursor: pointer; "
                                                        data-bs-toggle="modal" data-bs-target=""></i>
                                                    <i class="fa-solid fa-trash" style="cursor: pointer;"
                                                        data-bs-toggle="modal" data-bs-target=""></i>
                                                </div>
                                            </div>
                                        </li>
                                    </a>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 border  p-2 shadow rounded-lg" style="background-color: rgb(250, 250, 250);" id="category">

        <div class="d-flex overflow-hidden  align-items-center justify-content-between w-auto p-2 ">
            <div style="color: rgb(30, 151, 231); font-weight: 700; font-size: 25px; ">Modifier Group
            </div>
            <button class="text-end ms-3 " id="add" data-bs-toggle="modal" data-bs-target="#addModifierGroup"
                style=" color: rgb(30, 151, 231); border: 2px solid rgb(30, 151, 231);background-color: rgb(250, 250, 250); "><i
                    class="fa-regular fa-plus"></i></button>
        </div>
        <ul class="p-2 overflow-auto mt-2" style="max-height: 400px;">
            @foreach (var mg in Model.modifierGroups)
            {
                <a style="text-decoration: none; color: black;cursor: pointer;"
                    onclick="fetchModifiers(@mg.ModifierGroupId)">
                    <li style="list-style: none;">
                        <div class="d-flex align-items-center justify-content-between actionshover">
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <i class="fa-solid fa-table me-2"></i>
                                <div>@mg.ModifierGroupName</div>
                            </div>
                            <div class="d-flex align-items-center justify-content-end me-2 actions mt-3">
                                <i class="fa-solid fa-pen me-3 ms-3" style="cursor: pointer; " data-bs-toggle="modal"
                                    data-bs-target=""></i>
                                <i class="fa-solid fa-trash" style="cursor: pointer;" data-bs-toggle="modal"
                                    data-bs-target=""></i>
                            </div>
                        </div>
                    </li>
                </a>
            }

        </ul>
    </div>
    <div class="col border bg-white shadow rounded-lg">
        <div class="row">
            <div class="col  p-2  ">
                <div class="d-flex align-items-center justify-content-between p-2">
                    <div style="color: rgb(30, 151, 231); font-weight: 700; font-size: 25px; ">Modifiers
                    </div>
                    <button class="addItembtn btn btn-primary " data-bs-toggle="modal" data-bs-target="#addModifier">+
                        New
                        Modifier</button>
                </div>
            </div>
        </div>
        <div id="rendermodifiers"></div>
    </div>
</div>

<div class="modal" id="addModifierGroup">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:rgba(9, 9, 172, 0.692) ;">Add Modifier Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
                <div class="modal-body">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="modifierGroupName" name="Name" placeholder="Name"
                            asp-for="@Model.modifierGroup.ModifierGroupName">
                        <label for="name">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="mgdescription" name="Description" placeholder="Description"
                            asp-for="@Model.modifierGroup.Description"></textarea>
                        <label for="description">Description</label>
                    </div>
                    <a style="text-decoration: none; cursor:pointer; color:blue;" data-bs-dismiss="modal"
                        onclick="openExistingModifierModel()">+ Add Existing
                        Modifiers</a>
                    <div id="selectedModifiers"></div>
                </div>
                <div class="modal-footer d-flex  align-items-center justify-content-end">
                    <button type="submit" class="btn  me-2"
                        style="background-color: rgba(9, 9, 172, 0.692);color:white" onclick="addModifierGroup()" data-bs-dismiss="modal">Add</button>
                    <button type="button" class="btn"
                        style="border-color:rgba(9, 9, 172, 0.692);  color:rgba(9, 9, 172, 0.692); background-color: white;"
                        data-bs-dismiss="modal" aria-label="Close" formnovalidate>Cancel</button>
                </div>
        </div>
    </div>
</div>
<div class="modal" id="existingModifiers">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" style="color:rgba(9, 9, 172, 0.692) ;">Add Modifier Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class=" ms-2 " style="position:relative; ">
                    <input type="text" class="form-control " placeholder="Search" name="search" id="search"
                        style="position: relative;right: 10px;" onkeyup="search()">
                    <span style="position: absolute; right: 20px;top:50%; transform: translateY(-60%); font: 15px;"><i
                            class="fa-solid fa-search"></i> </span>
                </div>
                <table class="table " id="myTable">
                    <thead>
                        <tr>
                            <th>
                                <div class="form-check">
                                    <input class="form-check-input all" type="checkbox" value="">
                                    <label class="form-check-label " for="flexCheckDefault">
                                        <div class="ms-2">Name</div>
                                    </label>
                                </div>
                            </th>
                            <th>Unit</th>
                            <th>Rate</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var m in Model.modifier)
                        {
                            <tr class="check" data-id="@m.ModifierId" data-name="@m.ModifierName">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input individual" type="checkbox" value="">
                                        <label class="form-check-label ms-2" for="flexCheckDefault">
                                            <div style="word-wrap: break-word;">@m.ModifierName
                                            </div>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    @m.Unit
                                </td>
                                <td>
                                    @m.Rate
                                </td>
                                <td>
                                    @m.Quantity
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div>
                    @* <div class="d-flex flex-col justify-content-end mb-2">
                            <form method="get" id="pageSizeForm">
                                <label for="pageSize">Records per page:</label>
                                <select id="pageSize" name="pageSize"
                                    onchange="allModifier(@Model.PageNumber,@Model.PageSize,@Model.TotalPages)">
                                    <option value="2">2</option>
                                    <option value="5">5</option>
                                    <option value="10">10</option>
                                    <option value="15">15</option>
                                </select>
                            </form>
                            <div class="ms-2">
                                @if ( @Model.PageNumber > 1)
                                {
                                    <a onclick="allModifier(@Model.PageNumber-1,@Model.PageSize,@Model.TotalPages)"
                                        style="cursor:pointer;color:blue;">Previous</a>
                                }
                                Page @Model.PageNumber of @Model.TotalPages

                                @if (@Model.PageNumber < @Model.TotalPages)
                                {
                                    <a onclick="allModifier(@Model.PageNumber+1,@Model.PageSize,@Model.TotalPages)"
                                        style="cursor:pointer;color:blue;">Next</a>
                                }
                            </div>
                        </div> *@
                </div>
            </div>
            <div class="modal-footer d-flex  align-items-center justify-content-end">
                <button type="submit" class="btn  me-2" style="background-color: rgba(9, 9, 172, 0.692);color:white"
                    onclick="saveExistingModifiers()" data-bs-dismiss="modal">Add</button>
                <button type="button" class="btn"
                    style="border-color:rgba(9, 9, 172, 0.692);  color:rgba(9, 9, 172, 0.692); background-color: white;"
                    data-bs-dismiss="modal" aria-label="Close" formnovalidate>Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        let modifierCount =@Model.modifierGroups.Count;
        let modifierId =@(Model.modifierGroups.Count > 0 ? Model.modifierGroups[0].ModifierGroupId : 0);

        $.ajax({
            url: "/Menu/Modifiers",
            type: "GET",
            data: { modifierId: modifierId },
            success: function (response) {
                $("#rendermodifiers").html(response);
            }
        });
    });
    function fetchModifiers(id) {
        $.ajax({
            url: "/Menu/Modifiers",
            type: "GET",
            data: { modifierId: id },
            success: function (response) {
                $("#rendermodifiers").html(response);
            }
        });
    }
    function openExistingModifierModel() {
        new bootstrap.Modal(document.getElementById("existingModifiers")).show();
    }
    @* function allModifier(pageNumber, pageSize, totalPages) {
        let selectedPage = $("#pageSize").val();
        let modifierId =@(Model.modifier.Count > 0 ? Model.modifier[0].ModifierGroupId : 0);
        if (@Model.modifier.Count> 0) {
            $.ajax({
                url: "/Menu/Modifiers",
                type: "GET",
                data: { modifierId: modifierId, pageNumber: pageNumber, pageSize: pageSize, selectedPage: selectedPage },
                success: function (response) {
                    $("#rendermodifiers").html(response);
                    $("#pageSize").val(selectedPage);
                }
            });
        }
    } *@

        $(".all").change(function () {
            if ($(".all").prop("checked")) {
                $(".individual").prop("checked", true);
            } else {
                $(".individual").prop("checked", false);
            }
        });
    $(".individual").change(function () {
        if ($(".individual:checked").length === $(".individual").length) {
            $(".all").prop("checked", true);
        } else {
            $(".all").prop("checked", false);
        }
    })

    let selectedItems = [];
    function saveExistingModifiers() {
        selectedItems=[];
        $("tbody tr").each(function () {
            let row = $(this);
            let isSelected = row.find(".individual").prop("checked");
            if (isSelected) {
                selectedItems.push({ id: row.data("id"), name: row.data("name") });
            }
        });
        new bootstrap.Modal(document.getElementById("addModifierGroup")).show();
        let modifierDiv = document.getElementById("selectedModifiers");
       modifierDiv.innerHTML='';
        selectedItems.forEach(modifier => {
            if (document.querySelector(".chip[id='${modifier.id}']")) {
                return;
            }
            let chip = document.createElement("span");
            chip.classList.add("chip");
            chip.setAttribute("id", modifier.id);
            chip.innerHTML = `${modifier.name} <button class="close-btn" onclick="removeChip(this)">x</button>`;
            modifierDiv.appendChild(chip);
        })
    }
    function removeChip(ele) {
        let chip = ele.parentElement;
        let id = chip.getAttribute("id");
        selectedItems = selectedItems.filter(modifier => selectedItems.id !== ele);
        chip.remove();
    }

    function addModifierGroup(){
        let ids=[];
        selectedItems.forEach(m=>{
            ids.push(m.id);
        });
        let mgName=document.getElementById("modifierGroupName").value;
        let mgDescription=document.getElementById("mgdescription").value;
         $.ajax({
                url: "/Menu/AddModifierGroup",
                type: "POST",
                contentType:"application/json",
                data: JSON.stringify({modifierGroupName:mgName,Description:mgDescription,ids:ids}) ,
            });
    }
</script>